<h1>Please enter your isbn below to check if valid<h1>
<form method="post" action="isbn_page">
<input type="text" name="isbn" placeholder="ISBN Here"><br><br>
<input class="button" type="submit" value="Check ISBN">
</form>
<%=isbn%>