html {
  background: url("/images/waterfall.jpeg") no-repeat top center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-width: 700px;
}
body {
	text-align: center;
}
#box {
	margin: auto;
	font-family: arial, sans-serif;
	background-color: black;
  opacity: .8;
  transition: 0.3s;
 	word-wrap: break-word;
  color: white;
  padding-top: 20px;
  width: 100%;
  text-align: center;
  min-height: 100%;
  max-height: fit-content;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr {
  color: white;
  background-color: #464544;
}
tr:nth-child(even) {
  color: white;
    background-color: black;
}