html {
  background: url("/images/waterfall.jpeg") no-repeat bottom center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-width: 700px;
}
body {
	text-align: center;
}
#box {
	margin: auto;
	font-family: arial, sans-serif;
	background-color: black;
  	opacity: .8;
  	transition: 0.3s;
 	word-wrap: break-word;
  	color: #f2f2f2;
  	padding-top: 20px;
  	width: 50%;
  	text-align: center;
  	height: 50%;
}